* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
select {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}

.navbar-text {
  display: flex;
  justify-content: center;
  color: #fff;
}
.category-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.product-button {
  margin-top: 1rem;
  margin-left: 1rem;
}
.loading {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
